main {
  margin: 0;
  padding: 0;
}

.body_container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 20px;
}
.spot_detail_header {
  display: flex;
  justify-content: space-between;
}

.spot_detail_header_info {
  display: flex;
  justify-content: space-between;
}

.spot_detail_header_info > span {
  display: flex;
  padding: 5px;
}

.spot_detail_header_info > span:nth-child(3) {
  text-decoration: underline;
  font-weight: 200;
}


/*side scroll option */

/* .image_container {
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  height: 500px;
}
.image_first {
  flex-shrink: 0;
  scroll-snap-align: start;
  object-fit: contain;
  margin: 10px;
}
.image_after_first {
  flex-shrink: 0;
  object-fit: contain;
  margin: 10px;
} */

/* grid */

.image_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3px;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.image_first {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  overflow: hidden;
}

.image_first_alt {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  overflow: hidden;
}

.image_first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images_after_first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  overflow:hidden;
  max-height: 500px;
}

.images_after_first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.host {
  display: flex;
  justify-content: space-between;
}

.reserve_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
  /* border: 0.2rem solid; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.reserve_button {
  width: 80%;
  height: 50px;
  align-self: flex-end;
  background-color: #ff5a5f;
  color: white;
  margin-left: 28px;
  margin-right: 20px;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.reserve_button:hover {
  filter: brightness(80%);
}

.reserve_info {
  display: flex;
  align-self: center;
  margin-bottom: 20px;
}

.reserve_text {
  display: flex;
  /* align-items: center; */
  /* justify-items: auto; */
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.reserve_text > span:nth-child(n) {
  display: flex;
  /* padding: 10px; */
  margin: 5px 5px;
}

.description {
  margin-top: 20px;
  border-bottom: 1px solid #ff5a5f;
  padding-bottom: 20px;
}

.spot_details_reviews {
  display: flex;
  }

  .spot_detail_review_info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .spot_detail_review_items {
    margin: 10px;
  }

  /* .host > span {
    margin: 5px;
  } */
.spot_detail_update_modal_button {
  margin: 5px;
  margin-right: 10px;
}

.spot_details_review {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: cursive;
}
.spot_details_review li:nth-child(1) {
  font-weight: 700;
}
.spot_details_review li:nth-child(2) {
  filter:opacity(50%)
}
.spot_details_review_delete {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  background-color: grey;
  color: white;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  border-radius: 5px;
}
