li {
  list-style: none;
}

.update_spot_h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.update_spot_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 5px;
  width: 90%;
  height: 40px;
  background-color: #ff5a5f;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid black;

}
.update_spot_button:hover {
  color: black;
}

.update_spot_description {
  height: 200px;
  width: 90%;
}

.update_spot_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-left: 20px;
  margin-top: 50px;
}

.update_spot_input {
  width: 90%;
  margin-left: 1px;
  font-weight: 100px;
}

.update_spot_modal_container {
  overflow: auto;
}

.update_spot_modal_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  height: 600px;
  width: 800px;
}

.update_spot_label {
  font-weight: bold;
}
