.spot_cards {
  display: flex;
  flex-wrap: wrap;
}
.spots_container {
  margin-top: 100px;
}

.nav_link {
  text-decoration: none;
}

.spot_card:nth-child(1n) {
  margin-left: 25px;
}

.spot_card:nth-child(4n) {
  margin-right: 25px;
}
