/* defines toggle between active and hidden */
.hidden {
    display: none;
}

/* side by side elements spaced */
.header_navigation {
    display: flex;
    justify-content: space-between;
}

/* remove li dots */
ul {
    list-style: none;
}

/* mouseover button, cursor becomes pointer */
button {
    cursor: pointer;
}
