/* defines toggle between active and hidden */
.hidden {
  display: none;
}

/* side by side elements spaced */
.header_navigation {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.header_content {
    display: flex;
    justify-content: space-between;
}
/* remove li dots */
ul {
  list-style: none;
}

/* mouseover button, cursor becomes pointer */
button {
    margin-right: 20px;
}
button:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.header_right {
  display: flex;
  margin-right: 20px;
  padding: 10px;
}

.header_create_spot {
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.header_create_spot:hover {
  color: #FF5A5F;
}


.manage_spots {
  margin-top: 10px;
}

.manage_spots:hover {
  cursor: pointer;
  filter: brightness(80%);
  color: #FF5A5F;
}


.user_buttons {
  margin-top: 5px;
}
