.login_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

input {
    display: flex;
}

.login_button {
    display: flex;
    width: 150px;
    background-color: #FF5A5F;
    justify-content: center;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 700px;
    color: white;
    border-radius: 20px;

}

.demo_user {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 50px;
    background-color: transparent;
    border: transparent;
}

.demo_user:hover {
    color: #FF5A5F;
    cursor: pointer;
}

.login_errors {
    margin-bottom: 50px;
}
